<section>
    <h1><%= hero.title %></h1>
    <%- messages() %>
    <div class="delorean-container">
        <img src="<%= hero.image %>" alt="<%= hero.alt %>">
        <div class="delorean-text">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cups holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button>Own Today</button>
        </div>
    </div>
</section>
<section class="bottom-section">
    <div class="left">
        <h2>Delorean Upgrades</h2>
            <div class="div">
                <div>
                    <img src="<%= upgrades[0].upgrade %>" alt="<%= upgrades[0].alt %>">
                </div>
                <button>Flux Capacitor</button>
            </div>
            <div class="div">
                <div>
                    <img src="<%= upgrades[1].upgrade %>" alt="<%= upgrades[1].alt %>">
                </div>
                <button>Flame Decals</button>
            </div>
            <div class="div">
                <div>
                    <img src="<%= upgrades[2].upgrade %>" alt="<%= upgrades[2].alt %>">
                </div>
                <button>Shiny Bumper</button>
            </div>
            <div class="div">
                <div>
                    <img src="<%= upgrades[3].upgrade %>" alt="<%= upgrades[3].alt %>">
                </div>
                <button>Hub Caps</button>
            </div>  
    </div>
    <div class="right">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it!" (5/5)</li>
        </ul>
    </div>
</section>